header{
    height: 60px ;
    background-color: white;
    margin-bottom: 3%;
}


header ul {
    display: flex;
    column-gap: 2%;
    
}

header ul li{
    list-style-type: none;
}


header ul li a{
    text-decoration: none;
    color:black;
    font-size: 18px;
}