body{
    width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 0;
    row-gap: 80px;
    
}

header{
    width: 100%;
    height: 60px ;
	background-color: #f6f5f7;
   
}


header ul{
    float: right;
    position:relative;
    width: 100%;
    right: 5%;

}


header ul li{
    list-style-type: none;
    display: inline;
}


header ul li a{
    text-decoration: none;
    color:black;
    font-size: 18px;
    padding: 0px 0px 0px 20px;

}