h1 {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
  
section {
    padding: 5%;
    padding-top: 0;
    height: 100vh;
    width: 100%;
}
  
.side {
    margin-left: 0;
}
  

input{
    padding-top: 2%;
    padding-bottom: 1%;
    border-color: black;
    border-width: thick;
    width: 20%;
    font-size: large;
    margin-bottom:2%;
    font-family: cursive;
}
textarea {
    padding-top: 2%;
    padding-bottom: 2%;
    border-color: black;
    border-width: thick;
    width: 80%;
    font-size: large;
    font-family: cursive;
}
  
.col{
    display: flex;
    flex-direction: row;
    column-gap: 2%;
}

.animated-button:link, .animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.animated-button:link:after, .animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
.animated-button:link:hover, .animated-button:visited:hover {
	color: black;
	text-shadow: none;
}
.animated-button:link:hover:after, .animated-button:visited:hover:after {
	height: 450%;
}
.animated-button:link, .animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: black;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

/* Victoria Buttons */

.animated-button.victoria-one {
	border: 2px solid #D24D57;
}
.animated-button.victoria-one:after {
	background: #D24D57;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}


div .post_button{
    width: 10%;
}



.span{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: italic;
	color: #808080;
	
}


button{
	border: none;
	font-style: bold;
	background-color:transparent;
	border-radius: 60%;
}